---
const { frontmatter } = Astro.props;
// 页面 Info
import SITE_CONFIG from "@/config";
const { Description, Title } = SITE_CONFIG;
// 公共 Layout
import Layout from "@/layouts/Layout/Layout.astro";
// 评论组件
import { checkComment } from "@/scripts/Comment";
import Comment from "@/components/Comment/Comment.astro";
// ToolLayout 布局样式
import "./ToolLayout.less";
// 文章内容基础样式
import "@/styles/ArticleBase.less";
// 博客分享页面样式
if (frontmatter.type === 'blogshare') {
	await import("@/styles/BlogShare.less");
}
// 项目分享页面样式
if (frontmatter.type === 'projects') {
	await import("@/styles/Projects.less");
}
// 哲学页面样式
if (frontmatter.type === 'philosophy') {
	await import("@/styles/Philosophy.less");
}
---

<Layout title={frontmatter.title || Title} description={Description} activeNav={frontmatter.type || "-"}>
	<section class="vh-tools-main vh-animation vh-animation-init">
		<header class="vh-page-header">
			<h1>{frontmatter.h1}</h1>
			<p>{frontmatter.desc}</p>
		</header>
		<main><slot /></main>
		<main class={`${frontmatter.type}-main main`}>
			{frontmatter.type === 'blogshare' && 
				<div class="vh-blogshare-container"></div>
			}
			{frontmatter.type === 'projects' && 
				<div class="vh-projects-container"></div>
			}
			{frontmatter.type === 'philosophy' && 
				<div class="vh-philosophy-container"></div>
			}
			{frontmatter.type !== 'blogshare' && frontmatter.type !== 'projects' && frontmatter.type !== 'philosophy' && 
				<section class="vh-space-loading"><span></span><span></span><span></span></section>
			}
		</main>
		{checkComment() && frontmatter.comment != false && <Comment />}
	</section>
</Layout>
